* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Oswald', sans-serif;
    background-color: #dce2e6;
    position: relative;
    color: black;
}

.card {
    position: absolute;
    left: 50%;
    /* top: 50%;
    transform: translate(-50%, -50%); */

    top: 100px;
    transform: translate(-50%, 0%);

    width: 980px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 55px 0px rgba(181, 196, 206, 1);
    padding-top: 44px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
}
/* .card-img-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60px;
    width: 367px;
    height: 100%;
} */
.card-img {
    position: absolute;
    top: 50%;
    left: -192px;
    transform: translate(-0%, -50%);
    max-width: initial;
}
.card-content-wrapper {
    float: right;
    width: 441px;
}
.card-title {
    margin-bottom: 26px;
    font-weight: 500px;
    color: black;
    font-size: 38px;
    text-transform: uppercase;
    line-height: 1;
}
.card-details-wrapper {
    margin-bottom: 31px;
}
.card-lable {
    margin-bottom: 6px;
    font-size: 18px;
    color: #bfc5c8;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}
.card-price {
    font-size: 24px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

.card-details-wrapper {
    margin-bottom: 25px;

}

.card-colors-wrapper {
    margin-top: 12px;
} 

.card-details-wrapper::after {
    content: "";
    display: table;
    clear: both;
}

.card-lable {

}
.card-color-yellow {
    background: linear-gradient(135deg, rgba(237,182,29,1) 0%, rgba(254,246,118,1) 35%);
}

.card-color-red {
    background: linear-gradient(135deg, rgb(191,12,12) 0%, rgb(239,31,31) 35%);
}

.card-color {
    float: left;
    width: 24px;
    height: 24px;
    background-color: black;
    margin-right: 8px;
    border-radius: 50%;
}

.card-color-gray {
    background: linear-gradient(135deg, rgb(115,115,115) 0%, rgb(165,165,165) 100%);
}

.card-color-active {
border: 4px solid #393939;
}

.card-text {
    margin-bottom: 39px;
    color: #6c757f;
    font-size: 16px;
    font-weight: 300;
    margin-top: 35px;
}
.card-text p {
    margin-bottom: 15px;
    line-height: 1.27;
}
.cards-buttons-wrapper::after {
    content: "";
    display: table;
    clear: both;
}

.button-primary {
    float: left;
    display: inline-block;
    vertical-align: top;
    height: 68px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffd01e;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    color: black;
    line-height: 67px;
    border-radius: 4px;
}
.button-outline {
    float: left;
    display: inline-block;
    vertical-align: top;
    height: 68px;
    padding-left: 28px;
    padding-right: 28px;
    border:  3px solid black;
    font-weight: 600;
    font-size: 22px;
    color: #545454;
    text-transform: uppercase;
    line-height: 60px;
    border-radius: 4px;
}